git lfs track "*.dll"
git lfs track "bin/linux/ffmpeg/bin/*"
git lfs track "bin/windows/ffmpeg/bin/*"
*.dll filter=lfs diff=lfs merge=lfs -text
bin/linux/ffmpeg/bin/* filter=lfs diff=lfs merge=lfs -text
bin/windows/ffmpeg/bin/* filter=lfs diff=lfs merge=lfs -text
